BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
ColumnLimit: 90
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true
Standard: c++20
SortIncludes: true
IncludeBlocks: Preserve
ReflowComments: true
AlignAfterOpenBracket: Align
AlwaysBreakTemplateDeclarations: No
AccessModifierOffset: -4
PenaltyBreakBeforeFirstCallParameter: 1
AllowShortLambdasOnASingleLine: Empty

